* {
  box-sizing: border-box;
}

body {
  /* viewport units: vh (viewport height), vw (viewport width), vmin (smallest between vh and vw) */
  height: 100vh;
  font-family: 'Bagel Fat One';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(74, 184, 218);
  letter-spacing:0.5vmin;
}

button{
  font-family: 'Bagel Fat One';
  color:mediumaquamarine;
  border-color: mediumaquamarine;
  margin-top: 2vmin;
  padding: 1vmin;
  font-size: 2vmin;
  border-radius: 4vmin;
}

button:hover{
  color: white;
background-color: rgb(74, 184, 218);

}
header{
  font-size: 4vmin;
  color: mediumaquamarine;
  letter-spacing: 1vmin;
}

#markers{
  display: grid;
  grid-template-columns: repeat(3, 10vmin);
  gap:1vmin;
  margin-top:1.5vmin;
  border-top-right-radius: 30%;
    }

#markers > div {
  height: 10vmin;
  border-width: 5vmin;
  border-style: solid;
  border-color: mediumaquamarine transparent transparent;
  transform: scale(0.5);
}

#markers > div:hover {
  transform:scale(0.8);
  transition: transform 200ms ease-in;
  border-top-color:rgb(74, 184, 218);
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 10vmin);
  grid-template-rows: repeat(3, 10vmin);
  gap:1vmin;
margin-top: -4vmin;
}

#board > div {
  border-radius: 50%;
  border: 0.1vmin solid mediumaquamarine;
}

.x-hover:hover::after{
  content: 'X';
}

.o-hover:hover::after{
  content: 'O';
}

